@import './style.css';

.main {
   padding: 190px 0 170px;
   background: radial-gradient(117.64% 129.32% at 50% 0%, rgba(0, 0, 0, 0) 26.7%, #6633EE 62.36%, #FFFFFF 100%)
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
   ;
   border-radius: 0px 0px 48px 48px;
   overflow-y: hidden;
}

.main__inner {
   text-align: center;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.main__title {}

.main__desc {
   max-width: 652px;
   margin-bottom: 24px;
}

.main__btn {}

.main__img {
   z-index: 1;
   left: calc(50% - (833px / 2));
   bottom: -550px;
}

/* ------------------------------------------------ */


.isAbout {
   padding: 64px 0;
}

.isAbout__inner {}

.isAbout__title {
   margin-bottom: 48px;
}

.isAbout__cards {
   padding: 16px;
   display: flex;
   border: 2px solid #272937;
   border-radius: 20px;
   gap: 16px;
   font-weight: 400;
   font-size: 18px;
   line-height: 28px;
   flex-wrap: wrap;
   justify-content: space-around;
}

.isAbout__card {
   padding: 36px 24px;
   max-width: 316px;
}

.isAbout-card-icon {
   margin-bottom: 32px;
}

.isAbout-card__text {}




@media (max-width: 1024px) {}

@media (max-width: 864px) {}

@media (max-width: 768px) {
   .main {
      padding: 132px 0 128px;
   }

   .main__img {
      z-index: 1;
      left: calc(50% - (400px / 2));
      bottom: -230px;
      width: 400px;
   }

   .main__title {
      margin-bottom: 32px;
   }

   .isAbout {
      padding: 40px 0 0;
   }

   .isAbout__title {
      margin-bottom: 28px;
   }

   .isAbout__cards {
      padding: 16px 0;
      justify-content: space-between;
   }

   .isAbout__card {
      max-width: 100%;
      padding: 16px 24px;
   }

   .isAbout-card__text {
      padding-right: 32px;
   }

   .isAbout-card-icon {
      margin-bottom: 20px;
   }
}

@media (max-width: 550px) {
   .main {
      padding: 100px 0 80px;
   }

   .main__img {
      z-index: 1;
      left: calc(50% - (299px / 2));
      bottom: -200px;
      width: 299px;
   }
}

@media (max-width: 425px) {}